nav#landmarks {
    display:none;
}

nav#page-list {
    display:none;
}
h2{
hyphens: none;
}
.sec-head {
padding: 5%;
}

ol {
    list-style-type: none;
}
body{
line-height: 1.3;
}

.fnanchor {
	vertical-align: super;
   line-height: normal;
   font-size: smaller;
}

.footnote-section{
margin-top: 5%;
border-top: solid thin black;
}

.eprdctn-note {
padding: 5%;
color: purple;
border-top: thin #898989;
border-bottom: thin #898989;
}

.eprdctn-note::before {
  content: "NOTE: ";
  font-weight: bold;
  text-transform: uppercase; 
}

code {background: #efefef;
font-family: 'Consolas', 'Lucida Console', monospace;
}

.back-arrow {
text-decoration: none;
margin-left: .7em;
}

ul.no-bull {
list-style-type: none;
margin:10 0;
padding: 0;
}
/*style name added to separate daisy recommendations from other reading system methods during testing*/
a[role~='doc-noteref'].daisy {
   vertical-align: super;
   line-height: normal;
   font-size: smaller;
}

dt {
font-weight: bold;
margin-top: 8px;
}